@import "react-date-range/dist/styles.css";
@import "react-date-range/dist/theme/default.css";
* {
  box-sizing: border-box;
  font-family: inherit;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Medium.woff2") format("woff2"), url("/fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Regular.woff2") format("woff2"), url("/fonts/Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-SemiBold.woff2") format("woff2"), url("/fonts/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
.button {
  border-radius: 1000px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
  outline: none;
  text-transform: capitalize;
  cursor: pointer;
}

.button--border-noround {
  border-radius: 0 !important;
}

.button--type-normal {
  border-width: 0 !important;
  border-color: transparent !important;
}

.button--type-ghost {
  background-color: transparent !important;
  border-width: 2px;
  border-style: solid;
}

.button--type-text {
  background-color: transparent !important;
  border-width: 0 !important;
  border-color: transparent !important;
}

.button--variant-primary {
  background-color: #cce6f5;
  border-color: #1c658c;
  color: #1c658c;
}

.button--variant-secondary {
  background-color: #e7e7e9;
  border-color: #71717a;
  color: #71717a;
}

.button--variant-danger {
  background-color: #fbd0d8;
  border-color: #ef2a4c;
  color: #ef2a4c;
}

.button--variant-success {
  background-color: #b7fde7;
  border-color: #059669;
  color: #059669;
}

.button--variant-info {
  background-color: #e1f5fe;
  border-color: #7dd3fc;
  color: #7dd3fc;
}

.button--variant-warning {
  background-color: #fff4d3;
  border-color: #d39e00;
  color: #d39e00;
}

.button--variant-dark {
  background-color: #a9b3c3;
  border-color: #222831;
  color: #222831;
}

.button--variant-light {
  background-color: white;
  border-color: #f8fafc;
  color: #f8fafc;
}

.button--variant-light.button--type-normal {
  color: #222831 !important;
}

.button--size-small {
  padding: 3px 10px;
  font-size: 12px;
  font-weight: 400;
}

.button--size-normal {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 500;
}

.button--size-large {
  padding: 8px 16px;
  font-size: 20px;
  font-weight: 500;
}

.circle-button {
  max-width: min-content;
  aspect-ratio: 1;
  font-weight: 500;
}

.currency-input {
  width: 240px;
  height: 48px;
  padding: 6px 8px;
  background-color: #ffffff;
  border: 1px #e6e6e6 solid;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
  font-size: 16px;
}
.currency-input .currency-input__symbol {
  opacity: 0.4;
}
.currency-input .currency-input__input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  font-size: 16px;
  /* Firefox */
}
.currency-input .currency-input__input::-webkit-outer-spin-button, .currency-input .currency-input__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.currency-input .currency-input__input[type=number] {
  -moz-appearance: textfield;
}

.date-picker {
  position: relative;
  width: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px #e6e6e6 solid;
  border-radius: 7px;
}
.date-picker .date-picker__toggler {
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 12px;
  background-color: #ffffff;
  border-radius: 7px;
  text-transform: capitalize;
  cursor: pointer;
}
.date-picker .date-picker__toggler .date-picker__toggler__content {
  font-size: 16px;
  font-weight: 400;
}
.date-picker .date-picker__toggler .date-picker__toggler__icon {
  height: 100%;
  aspect-ratio: 1;
}
.date-picker .date-picker__picker {
  top: 60px;
  position: absolute;
  border-radius: 7px;
  overflow: hidden;
  display: none;
  z-index: 10000;
}
.date-picker .date-picker__picker--showed-yes {
  display: block !important;
}

.drop-down {
  position: relative;
  width: 300px;
}
.drop-down .drop-down__select {
  background-color: #ffffff;
  font-size: 16px;
  padding: 6px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  height: 48px;
  border-radius: 7px;
  cursor: pointer;
  border: 1px #e6e6e6 solid;
  border-radius: 7px;
}
.drop-down .drop-down__select .drop-down__select__title {
  max-width: 200px;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.drop-down .drop-down__select .drop-down__select__arrow {
  margin-left: auto;
}
.drop-down .drop-down__list--showed-yes {
  display: block !important;
}
.drop-down .drop-down__list {
  border: 1px #e6e6e6 solid;
  border-radius: 7px;
  margin-top: 8px;
  display: none;
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  list-style: none;
  border-radius: 7px;
  background-color: #ffffff;
  overflow: hidden;
}
.drop-down .drop-down__list__option {
  display: flex;
  align-items: center;
  padding: 6px 8px;
  height: 48px;
  cursor: pointer;
  background-color: #ffffff;
  transition: background-color 0.25s linear;
}
.drop-down .drop-down__list__option[data-disabled=true] {
  cursor: default;
  opacity: 0.5 !important;
}
.drop-down .drop-down__list__option[data-disabled=true]:hover {
  background-color: #ffffff;
}
.drop-down .drop-down__list__option:hover {
  background-color: whitesmoke;
}
.drop-down .drop-down__list__option .drop-down__list__option__check-box {
  height: 100%;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.drop-down .drop-down__list__option .drop-down__list__option__title {
  font-size: 16px;
  text-transform: capitalize;
}

.statistic-card {
  width: 280px;
  height: 110px;
  padding: 20px 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-columns: 2fr 3fr;
  background: linear-gradient(to right, #afe4fd, #e1f5fe);
  border-radius: 7px;
  gap: 14px 100px;
}
.statistic-card .statistic-card__title {
  width: 100%;
  height: 100%;
  color: #1c658c;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  margin: auto 0px;
}
.statistic-card .statistic-card__detail-button {
  max-width: 64px;
  max-height: 20px;
  color: white;
  cursor: pointer;
  margin: auto 0px auto auto;
  text-transform: none;
}
.statistic-card .statistic-card__amount {
  grid-column: span 2;
  width: 100%;
  height: 100%;
  color: #ffffff;
  font-size: 30px;
  font-weight: 500;
}
.statistic-card .statistic-card__amount::before {
  content: "$";
}

.statistic-card--variant-primary {
  background: linear-gradient(to right, #77bee4, #cce6f5);
}
.statistic-card--variant-primary .statistic-card__title {
  color: #1c658c;
}
.statistic-card--variant-primary .statistic-card__detail-button {
  background-color: #379fd7;
}

.statistic-card--variant-secondary {
  background: linear-gradient(to right, #b2b2b8, #efeff0);
}
.statistic-card--variant-secondary .statistic-card__title {
  color: #71717a;
}
.statistic-card--variant-secondary .statistic-card__detail-button {
  background-color: #a5a5ac;
}

.statistic-card--variant-success {
  background: linear-gradient(to right, #3cf8be, #d0fdef);
}
.statistic-card--variant-success .statistic-card__title {
  color: #059669;
}
.statistic-card--variant-success .statistic-card__detail-button {
  background-color: #0af7ad;
}

.statistic-card--variant-warning {
  background: linear-gradient(to right, #ffd454, #ffeeba);
}
.statistic-card--variant-warning .statistic-card__title {
  color: #d39e00;
}
.statistic-card--variant-warning .statistic-card__detail-button {
  background-color: #ffc107;
}

.statistic-card--variant-danger {
  background: linear-gradient(to right, #f8a1b0, #fde8eb);
}
.statistic-card--variant-danger .statistic-card__title {
  color: #ef2a4c;
}
.statistic-card--variant-danger .statistic-card__detail-button {
  background-color: #f6899c;
}

.statistic-card--variant-info {
  background: linear-gradient(to right, #afe4fd, #e1f5fe);
}
.statistic-card--variant-info .statistic-card__title {
  color: #0596db;
}
.statistic-card--variant-info .statistic-card__detail-button {
  background-color: #64cbfb;
}

.statistic-card--variant-info {
  background: linear-gradient(to right, #afe4fd, #e1f5fe);
}
.statistic-card--variant-info .statistic-card__title {
  color: #0596db;
}
.statistic-card--variant-info .statistic-card__detail-button {
  background-color: #64cbfb;
}

.statistic-card--variant-dark {
  background: linear-gradient(to right, #37414f, #4c596d);
}
.statistic-card--variant-dark .statistic-card__title {
  color: white;
}
.statistic-card--variant-dark .statistic-card__detail-button {
  background-color: #181c22;
}

.statistic-card--variant-light {
  background: linear-gradient(to right, white, white);
}
.statistic-card--variant-light .statistic-card__title {
  color: #37414f;
}
.statistic-card--variant-light .statistic-card__amount {
  color: #37414f;
}
.statistic-card--variant-light .statistic-card__detail-button {
  background-color: #e6edf4;
}

.transaction {
  width: 100%;
  height: 56px;
  padding: 12px 15px;
  background-color: #f8fafc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 7px;
}
.transaction .transaction__title-container {
  column-gap: 14px;
  display: flex;
  align-items: center;
  min-width: 75%;
  max-width: 75%;
}
.transaction .transaction__title-container .transaction__title-container__icon {
  height: 100%;
  aspect-ratio: 1;
}
.transaction .transaction__title-container .transaction__title-container__title {
  font-size: 16px;
  font-weight: 400;
  color: #334155;
}
.transaction .transaction__detail-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}
.transaction .transaction__detail-container .transaction__detail-container__date {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  width: 120px;
  text-transform: capitalize;
}
.transaction .transaction__detail-container .transaction__detail-container__amount-box {
  width: 80px;
  height: 100%;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.transaction .transaction__detail-container .transaction__detail-container__amount-box .transaction__detail-container__amount-box__amount {
  margin: auto;
  font-size: 18px;
  font-weight: 600;
}

.transaction--type-expense .transaction__detail-container .transaction__detail-container__amount-box {
  background-color: #f8a1b0;
}
.transaction--type-expense .transaction__detail-container .transaction__detail-container__amount-box .transaction__detail-container__amount-box__amount {
  color: #ef2a4c;
}
.transaction--type-expense .transaction__detail-container .transaction__detail-container__amount-box .transaction__detail-container__amount-box__amount::before {
  content: "-";
}

.transaction--type-income .transaction__detail-container .transaction__detail-container__amount-box {
  background-color: #e1f5fe;
}
.transaction--type-income .transaction__detail-container .transaction__detail-container__amount-box .transaction__detail-container__amount-box__amount {
  color: #4bc2fb;
}
.transaction--type-income .transaction__detail-container .transaction__detail-container__amount-box .transaction__detail-container__amount-box__amount::before {
  content: "+";
}

body {
  font-family: "inter";
  width: 100vw;
  height: 100vh;
  position: relative;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 80px 1fr;
  background-color: #ffffff;
  box-shadow: 0px 0px 18px 2px rgba(0, 0, 0, 0.1);
}
body .slidebar {
  grid-row: span 2;
  padding: 25px 15px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  background: linear-gradient(#30475e, #222831);
}
body .slidebar .slidebar__navlink__logo-yes {
  margin-bottom: 60px;
}
body .slidebar .slidebar__navlink {
  font-size: 22px;
  text-transform: capitalize;
  color: #d4d4d8;
  text-decoration: none;
  font-weight: 400;
}
body .slidebar .slidebar__navlink[aria-current=page] {
  color: #ffffff !important;
}
body .topbar {
  background-color: #f8fafc;
  padding: 25px;
}
body .topbar .topbar__headline {
  font-size: 22px;
  text-transform: capitalize;
  color: #222831;
  font-weight: 500;
}
body .main {
  background-color: #ffffff;
}
