.transaction {
  width: 100%;
  height: 56px;
  padding: 12px 15px;
  background-color: $light;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 7px;

  .transaction__title-container {
    column-gap: 14px;
    display: flex;
    align-items: center;
    min-width: 75%;
    max-width: 75%;

    .transaction__title-container__icon {
      height: 100%;
      aspect-ratio: 1;
    }

    .transaction__title-container__title {
      font-size: 16px;
      font-weight: 400;
      color: #334155;
    }
  }

  & .transaction__detail-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;

    & .transaction__detail-container__date {
      text-align: center;
      font-weight: 400;
      font-size: 16px;
      width: 120px;
      text-transform: capitalize;
    }

    & .transaction__detail-container__amount-box {
      width: 80px;
      height: 100%;
      border-radius: 6px;
      display: flex;
      align-items: center;
      justify-content: center;

      & .transaction__detail-container__amount-box__amount {
        margin: auto;
        font-size: 18px;
        font-weight: 600;
      }
    }
  }
}

.transaction--type-expense {
  & .transaction__detail-container {
    & .transaction__detail-container__amount-box {
      background-color: lighten($color: $danger, $amount: 25);

      & .transaction__detail-container__amount-box__amount {
        color: $danger;

        &::before {
          content: "-";
        }
      }
    }
  }
}

.transaction--type-income {
  & .transaction__detail-container {
    & .transaction__detail-container__amount-box {
      background-color: lighten($color: $info, $amount: 20);

      & .transaction__detail-container__amount-box__amount {
        color: darken($color: $info, $amount: 10);

        &::before {
          content: "+";
        }
      }
    }
  }
}
